.page-block {
  padding: 7rem 0;
  min-height: 70rem;
  .page-block-content {
    max-width: 53rem;
    a {
      @include btn($secondary-color);
    }
  }
}

.page-figure-wrapper {
  padding: 7rem 0;
}
.page-figure {
  position: relative;
  left: -5rem;
  box-shadow: 2px 2px 5px rgba($dark-color, 0.3);
  &:after {
    position: absolute;
    left: -5rem;
    top: 4rem;
    content: "";
    width: 100%;
    min-height: 55rem;
    background-color: transparent;
    border: 4px solid $secondary-color;
  }
  img {
    width: 100%;
    min-height: 55rem;
    object-fit: cover;
    display: block;
  }
}

.figure-left {
  left: 5rem;
  z-index: 3;
  &:after {
    left: 5rem;
  }
}

.content-left {
  padding-left: 12rem;
}

.lower-book {
  background: {
    image: linear-gradient(rgba($dark-color, 0.7), rgba($dark-color, 0.7)),
      url(../images/cta-lower.jpg);
    size: cover;
    position: center center;
    repeat: no-repeat;
  }
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .lower-book-content {
    text-align: center;
    color: $light-color;
    h2 {
      font-size: 6rem;
      line-height: 1.2;
      letter-spacing: 2px;
      font-family: $primary-font-xbold;
    }
    .btn-cta {
      @include btn($light-color);
    }
  }
}
