.index-accomodation {
  figure {
    @include figure-block(0 0 0 -3rem);
    img {
      @include figure-img(55rem);
    }
    figcaption {
      @include figure-caption(68%);
    }
  }
  .block-content {
    ul li a {
      @include block-content-a($primary-color);
    }

    .btn-book {
      margin-top: 3rem;
      @include btn($primary-color);
    }
  }
}

.index-swiss {
  figure {
    @include figure-block(0 -3rem 0 0rem);
    img {
      @include figure-img(55rem);
    }
    figcaption {
      @include figure-caption(68%);
      left: 2rem;
    }
  }

  .block-content {
    margin-left: 6rem;
    ul li a {
      @include block-content-a($secondary-color);
    }
    .btn-visit {
      margin-top: 3rem;
      @include btn($secondary-color);
    }
  }
}

.other-services {
  &-box {
    position: relative;
    img {
      object-fit: cover;
      object-position: top center;
      width: 100%;
      height: 50rem;
      display: block;
    }
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: $light-color;
      width: 85%;
      span {
        display: block;
        text-transform: uppercase;
        color: $secondary-color;
        font-size: 1.6;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 0;
      }
      h3 {
        font-size: 4rem;
      }
      a {
        @include btn($light-color);
      }

      .text-wrapper {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s ease;
      }
      .text-wrapper-header {
        transform: translateY(80px);
        transition: 0.5s ease;
      }
    }
    &-overlay {
      position: absolute;
      z-index: 2;
      background-color: rgba($dark-color, 0.5);
      width: 100%;
      height: 100%;
    }
    &:hover .text-wrapper-header {
      transform: translateY(0px);
    }

    &:hover .text-wrapper {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.testimonial {
  background: $tertiary-color;
  &-slider-item {
    padding: 4rem 2rem;
    color: $light-color;
    min-height: 45rem;
    background: {
      size: cover;
      position: center center;
    }
    &-box {
      text-align: center;
      max-width: 50rem;
      margin: 0 auto;
      h3 {
        font-size: 4rem;
      }
      ul {
        display: flex;
        justify-content: center;
      }
      img {
        display: block;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
  }
}

.bg-testimonial-dining {
  background-image: linear-gradient(
      rgba($dark-color, 0.7),
      rgba($dark-color, 0.7)
    ),
    url(../images/other-dining.jpg);
}

.bg-testimonial-view {
  background-image: linear-gradient(
      rgba($dark-color, 0.7),
      rgba($dark-color, 0.7)
    ),
    url(../images/index-accomodation.jpg);
}

.bg-testimonial-conference {
  background-image: linear-gradient(
      rgba($dark-color, 0.7),
      rgba($dark-color, 0.7)
    ),
    url(../images/other-conference.jpg);
}

.offer-special {
  .news-box {
    margin-bottom: 2rem;
    border: 1px solid $gray-color;
    min-height: 55rem;
    &-img {
      margin-bottom: 2rem;
      img {
        width: 100%;
        min-height: 10rem;
        object-fit: cover;
        object-position: center center;
      }
    }
    &-content {
      padding: 1rem;
      h3 {
        margin-bottom: 2rem;
        text-align: center;
      }
      p {
        margin-bottom: 3rem;
      }

      a {
        @include btn($secondary-color);
      }
    }
  }
}
