footer {
  background-color: $primary-color;
  padding: 2rem 0;
  color: $light-color;
}
.footer-box {
  padding: 1.5rem;
  img {
    margin-right: 2rem;
    width: 8rem;
    height: 12rem;
    object-fit: cover;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  ul {
    list-style: none;
  }

  h5 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    i {
      padding-right: 0.5rem;
    }
  }

  a {
    color: $light-color;
  }
  form {
    input {
      width: 100%;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
    }
    button {
      padding: 1rem 2rem;
      color: $light-color;
      width: 100%;
      text-align: center;
      background: $secondary-color;
    }
  }
}
.copyright {
  background-color: darken($primary-color, 10);
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: $light-color;
    p {
      margin-bottom: 0;
    }
    ul {
      display: flex;
      li {
        margin-left: 2rem;
      }
    }
    a {
      color: $light-color;
    }
  }
}
