header {
  position: relative;
  z-index: 6;
  color: $dark-color;
  max-width: 83.2%;
  margin: 0 auto;
  .header-wrapper-info {
    background-color: $light-color;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    ul li {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin-right: 2rem;
    }
  }
}

.toggle-menu {
  position: absolute;
  right: 1rem;
  top: 5rem;
  z-index: 9999;
  span {
    position: relative;
    width: 3rem;
    height: 2px;
    background: $light-color;
    display: inline-block;
    cursor: pointer;
    &:after {
      position: absolute;
      content: "";
      @extend span;
      top: -0.8rem;
    }
    &:before {
      position: absolute;
      content: "";
      @extend span;
      top: 0.8rem;
    }
  }
}

.social-media {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  p {
    margin-bottom: 0;
  }
  li {
    a {
      color: $dark-color;
      font-size: 1.8rem;
    }
  }
}

.main-menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($primary-color, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  transition: top 0.5s ease;
  #close-menu {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: $light-color;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      color: $secondary-color;
    }
    i {
      transform: rotate(45deg);
    }
  }
  nav {
    padding: 1rem;
    li {
      text-align: center;
      a {
        font-size: 6rem;
        font-weight: bolder;
        letter-spacing: 3px;
        transition: 0.5s ease;
        color: $light-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

.open-nav {
  top: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($primary-color, 0.7);
    z-index: 1;
  }
}

.branding {
  position: absolute;
  top: 0;
}

.banner-content {
  position: absolute;
  top: 55%;
  left: 8%;
  transform: translateY(-50%);
  color: $light-color;
  z-index: 3;
  h1 {
    font: {
      size: 10rem;
      family: $primary-font-xbold;
    }
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: capitalize;
    text-shadow: 2px 4px 10px rgba($dark-color, 0.2);
  }

  a {
    @include btn($light-color);
  }
}

@media (min-aspect-ratio: 16/9) {
  #bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #bg-video {
    width: auto;
    height: 100%;
  }
}
